:root{                                          /*------------- PALETTE DE BASE -----------*/
    --background : #f5efff;
    --header : #f5efff82;
    --accent : #f5efff1b;
    --accent-red : #6d1af2;
    --accent-blue : #29ffe2;

}


.main{
    margin-left: auto;
    margin-right: auto;
    
}