:root{                                          /*------------- PALETTE DE BASE -----------*/
    --background : #f5efff;
    --header : #9d9d9d89;
    --accent : #74747400;
    --accent-blue : #5614c2;
    --accent-green : #29ffe2;
}

main{
  margin: auto;
  width:600px;
	height:400px;
}
.create{
  margin-top: 85px;
  margin-left: 179px;
  width: 250px;
  background-color:var(--background);
  height: 300px;
  border-radius: 10px;
  border: 1px solid black;
}

header{
  height: 59px;
  background-color:var(--header);
  text-align: center;
}
.head{
  padding: 5px;
  margin: auto;
  width: 450px;
}
#banniere{
  float: right;
  width: 40px;
  height: 43px;
  margin-right: 0;
  margin-top: 3px;
}
#accueil{
  float: left;
  margin-top: 14px;
  background-color: var(--accent);
}
#titre_site{
  margin:auto;
  margin-top: -5px;
  margin-bottom: auto;
  border: solid 2px black;
  font-size: 300%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
  color: var(--accent-blue);
}
#inscrire{                  /* */
  margin: auto;
  margin-left: 50px;
  margin-top: 25px;
}
#cred{
  font-size: 120%;
}
#adminDiv{
  font-size: 100%;
}

#inscription{
  margin-top: 28px;
  margin-right: 6px;
  float: right;
}
#acc{                       /* photo de profil de base*/
  width: 40px;
  height: 43px;
  margin-left: 200px;
  margin-top: 10px;
}

#connexion{                /*bouton connexion*/
    width: 60px;
    height: 43px;
    margin-left: 0px;
    margin-top: -76px;
}

#newacc{             /*bouton de creation nv compte*/
    width: 60px;
    height: 43px;
    margin-left: 35px;
    margin-top: 50px;
}
/*bouton bleu*/
.styled {
    border: 0;
    line-height: 2.2;
    padding: 0 5px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 15px;
    background-color: #BCFFFF;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: #65DFDF;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
